* {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin: 0;
}

.primary-background {
  background-color: #03344f;
}

.primary-text {
  color: #03344f;
}

.secondary-background {
  background-color: #dfe9f4;
}

.secondary-text {
  background-color: #dfe9f4;
}

.tertiary-text {
  color: white;
}

.container {
  padding: 1.5rem;
}

.section:last-child {
  margin-bottom: 1.5rem;
}
