.header {
  display: flex;
  padding: 1.5rem;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.5rem;
  font-weight: 800;
}

.menu__list {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.menu-list--item__link {
  color: white;
  text-decoration: none;
  font-size: 1rem;
}

.page-refines {
  padding: 0 2rem 2rem 2rem;
  display: flex;
  justify-content: flex-start;
  gap: 2.25rem;
  align-items: center;
}

.page-refines__parameter {
  position: relative;
}

.search {
  height: 2.5rem;
  padding: 0.5rem 0;
}

.search-input {
  width: 20rem;
  height: 2.5rem;
  border: 0.063rem solid #dfe9f4;
  border-radius: 0.25rem;
  padding-left: 1rem;
}

.search-input:focus {
  outline: none;
  border-color: #03344f;
}

.search-icon {
  position: absolute;
  right: 1rem;
  top: 55%;
  transform: translateY(-50%);
  pointer-events: none;
  color: #dfe9f4;
}

.select {
  height: 2.5rem;
}

.dropdown {
  width: 20rem;
  height: 2.72rem;
  padding: 0.5rem 0;
  border: 0.063rem solid #dfe9f4;
  border-radius: 0.25rem;
  padding-left: 1rem;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='16' height='16' fill='%23000000'%3E%3Cpath d='M7 10l5 5 5-5z'/%3E%3C/svg%3E")
    no-repeat right 0.625rem center;
  background-size: 1rem;
  padding-left: 1.875rem;
  padding-right: 0.625rem;
}

.dropdown:focus {
  outline: none;
  border-color: #03344f;
}

.reset-button {
  padding: 0.313rem 0.625rem;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 1rem;
  height: 2.5rem;
}

.reset-button:hover {
  background-color: #dfe9f4;
  color: black;
}

#product-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 cards per row for desktops */
  gap: 1.5rem;
}

.zero-product {
  font-size: 2rem;
}

.footer {
  text-align: center;
  padding: 3rem;
}

@media (max-width: 768px) {
  .page-refines {
    flex-direction: column;
  }

  #product-container {
    grid-template-columns: repeat(2, 1fr); /* 2 cards per row on tablets */
  }

  .search-input {
    width: 18.5rem;
  }
}

@media (max-width: 576px) {
  #product-container {
    grid-template-columns: 1fr; /* 1 card per row on mobile */
  }

  .search-input {
    width: 18.5rem;
  }
}

@media (min-width: 2560px) {
  #product-container {
    grid-template-columns: repeat(6, 1fr); /* 6 cards per row on 4K screens */
  }
}

@media (min-width: 3840px) {
  #product-container {
    grid-template-columns: repeat(
      8,
      1fr
    ); /* 8 cards per row on 5K/8K screens */
  }
}
